/* .car-back {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
}

.car-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

}





.item-United:hover ~ .car-back {
    background-image: url('/extras/home-flag.jpg') !important;
    background-size: cover;
} */

#img1 {
    display: none;
}

/* .item-United:hover {
    background: rgba(70, 70, 70, 0.7);
} */

.item {
    background: rgba(70, 70, 70, 0.7);
}

.item:hover {
    box-shadow: 0px 0px 10px 5px rgba(221, 221, 221, 0.24), 0px 0px 10px 5px rgba(221, 221, 221, 0.24), 0px 0px 10px 5px rgba(221, 221, 221, 0.24), 0px 0px 10px 5px rgba(221, 221, 221, 0.24);
}
