.nav-cooling:hover {
    background: rgb(78, 99, 170);
    color: white;
}

.nav-heating:hover {
    background: rgb(180, 40, 40);
    color: white;
}

.nav-electrical:hover {
    background: rgb(207, 189, 27);
    color: white;
}

.nav-ducting:hover {
    background: rgb(48, 47, 47);
    color: white;
}

.nav-rescom:hover {
    background: rgb(135, 136, 136);
    color: white;
}
