.cooling {
    background-image: url("/public/extras/home-cooling.jpg");
    background-size: cover;
}

.heating {
    background-image: url("/public/extras/home-heating.jpg");
    background-size: cover;
}

.electrical {
    background-image: url("/public/extras/home-electrical.jpg");
    background-size: cover;
}

.ducting {
    background-image: url("/public/extras/home-ducting.jpg");
    background-size: cover;
}