.contact-text {
    background-color: rgb(78, 99, 170);
}

.contact-border {
    border-color: rgb(78, 99, 170);

}

.contact-submit {
    background: rgb(46, 67, 142);
}

.contact-submit:hover {
    background: rgb(21, 42, 114);
}