.worker {
    background-image: url('/extras/emergency-worker.jpg');
    background-size: cover;
}

.emergency-text {
    background-color: rgb(128, 21, 21);
}

.emergency-border {
    border-color: rgb(180, 40, 40);

}

.emergency-submit {
    background: rgb(128, 21, 21);
}

.emergency-submit:hover {
    background: rgb(95, 10, 10);
}
