.serv-img {
    height: 150px;
    width: 200px;
    
}

/* .plug {
    background: url('/extras/USAflag.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

} */
