.jumbo-list {
    text-align: center;   
    height: 100px;
    width: 100%;

}


.jumbo-list-element {
    margin-top: 25px;
    color: white;
    
}

.home-about {
    margin: 10px;
}

.home-contact {
    margin: 10px;
}


/* .res-com-btn {
    opacity: .85;
    position: absolute;
    width: 77%;
    margin-top: 90px;
} */


/* .res-com-img {
    width: 80%;
    height: 300px;
    margin-top: -25px;
    
} */

.serv-img {
    height: 150px;
    width: 200px;
    
}

.serv-btn {
    /* background-color: cadetblue; */
    margin-left: 80px;
    width: 200px;
}


