
.cooling-image {
    background-image: url('/extras/service-cooling.jpg');
    background-size: cover;
    
}

.heating-image {
    background-image: url('/extras/service-heating.jpg');
    background-size: cover;
}

.electrical-image {
    background-image: url('/extras/service-electrical.jpg');
    background-size: cover;


}

.ducting-image {
    background-image: url('/extras/service-ducting.jpg');
    background-size: cover;


}

.cooling-opaque {
    background: rgba(6, 22, 114, 0.8);
    margin-top: 25%;
}

.cooling-primary {
    background-color: rgb(78, 99, 170);
}

.cooling-secondary {
    background-color: rgb(46, 67, 142);
}

.cooling-secondary:hover {
    background: rgb(21, 42, 114)
}

.heating-opaque {
    background: rgba(170, 21, 21, 0.7);
    margin-top: 25%;

}

.heating-primary {
    background: rgb(180, 40, 40)
}

.heating-secondary {
    background: rgb(128, 21, 21)
}

.heating-secondary:hover {
    background: rgb(95, 10, 10)
}

.electrical-opaque {
    background: rgba(207, 189, 27, 0.7);
    margin-top: 25%;

}

.electrical-primary {
    background: rgb(207, 189, 27)
}

.electrical-secondary {
    background: rgb(167, 145, 10)
}

.electrical-secondary:hover {
    background: rgb(125, 101, 4)
}

.ducting-opaque {
    background: rgba(48, 47, 47, 0.7);
    margin-top: 25%;

}

.ducting-primary {
    background: rgb(102, 102, 102)
}

.ducting-secondary {
    background: rgb(70, 69, 75)
}

.ducting-secondary:hover {
    background: rgb(47, 47, 47)
}